 body {
    overflow-x: hidden;
 }
  header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54)), url('../img/cafe1.jpg');
    ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    float: right;
    height: 100%;
    width: 100%;
  }

  button:hover {
    color: black;
    opacity: 0.8;
    border-color: red;
  }
  
  button:hover .home {
    background-image: url("../img/cafe3.jpg");
  }
  
/*****************************************************/
/*heading*/
/*****************************************************/
.header {
    height: 750px;
    color: white;
    margin-right: 0;
    margin-left: 0;
}

    .header .block-1 {
        align-items: center;
        display: flex;
        float: left;
        height: 600px;
        width: 100%;
        margin: 0 auto;
    }

     h1,
     h2,
     h3 {

         font-weight: 300;
         text-transform: uppercase;
         color: darkorange;
     }

     h1 {
         margin: 0;
         margin-bottom: 0.8rem;
         font-size: 2.2rem;
         word-spacing: 0.15rem;
         letter-spacing: 0.1rem;
         color:white;
     }


     h2 {
         font-size: 2rem;
         word-spacing: 0.15rrem;
         text-align: center;
         margin-bottom: 2rem;
         letter-spacing: 1px;
     }

     h2:after {
         display: block;
         height: 0.1rem;
         background-color: #e67e22;
         content: " ";
         width: 5rem;
         margin: 0 auto;
         margin-top: 30px;
     }

     .hero-text-box {

         position: absolute;
         width: 80vw;
         top: 55%;
         left: 50%;
         transform: translate(-50%, -50%);

     }

/*****************************************************/
/*about*/
/*****************************************************/
@media screen and (max-width: 990px) { 
    .intro-video {
        display: none;
    }
}


/*********************************************************************************/
/*testinomial*/
/*********************************************************************************/
.section-testimonials {

    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/food.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

.testinomial {
    display: flex;
    justify-content: space-around;
}

.test {
    width: 20rem;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 2rem;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -0.25rem;
    left: -0.25rem;
}

cite {
    font-size: 90%;
    margin-top: 1.25rem;
    display: block;
}

cite img {
    height: 2.5rem;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}


/*********************************************************************************/
/*membership*/ 
/*********************************************************************************/
.card:not(:empty):hover,
.card:not(:empty):focus {
  z-index: 1;
  color: #fff;
  background: #ea124f;
  opacity: 1;
  transform: scale(1.15) rotateZ(20deg);
  cursor: pointer;
}
.card:not(:empty):hover:after,
.card:not(:empty):focus:after {
  opacity: 1;
}
.card:not(:empty):hover:before,
.card:not(:empty):focus:before {
  opacity: 0;
}

.card:not(:empty):before {
  box-shadow: -2px 2px 8px 2px rgba(0, 0, 0, 0.2);
}
.card:empty {
  opacity: 0.3;
}
.card:before, .card:after {
  content: "";
  position: absolute;
  border-radius: 0.7em;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.4s cubic-bezier(0.33, 1, 0.68, 1);
}
.card:after {
  box-shadow: -20px 20px 12px 6px rgba(0, 0, 0, 0.2);
  opacity: 0;
}

.plans {
    display: inline;
    justify-content: space-around;
}

.plan-box {
    font-size: 0.9rem;
    background-color: #fff;
    border-radius: 2.5rem;
    min-width: 16rem;
    border: 2px;
    box-shadow: 2px 2px 10px grey, -2px -2px 5px grey;
    transform: scale(1);
    transition: 0.2s all;
}

.plan-box:hover{
    transform: scale(1.02);
    border: 2px solid #e67e22;
    box-shadow: 0px 4px 3px grey;
  font-size: 0.9rem;
}

.plan-box div {
    padding: 0.75rem;
    border-bottom: 1px solid #e8e8e8;
}


.plan-price {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    font-weight: 100;
    color: #e67e22;
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 0.25rem 0;
} 

.plans .plan-box-one{
    transform: translateX(-200vw);
    transition: all 1s ease-out;

}

.plans .plan-box-two{
    transform: translateX(200vw);
    transition: all 1s ease-out;

}

/*********************************************************************************/
/*form*/ 
/*********************************************************************************/

.contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

/*********************************************************************************/
/*footer*/ 
/*********************************************************************************/

     footer {
        background-color: #333;
        padding: 2.5rem;
        font-size: 80%;
    }

    footer h5 {
        text-align: center;
    }

    .footer-nav {
        text-align: center;
        list-style: none;
        float: left;
    }

    .social-links {
        text-align: center;
        list-style: none;
        float: right;
    }

    .footer-nav a:link,
    .footer-nav a:visited,
    .social-links a:link,
    .social-links a:visited {
        text-decoration: none;
        border: 0;
        color: #888;
        -webkit-transition: color 0.2s;
        transition: color 0.2s;
    }

    .footer-nav a:hover,
    .footer-nav a:active {
        color: #ddd;
    }

    .social-links a:link,
    .social-links a:visited {
        font-size: 160%;
    }

    .fa-facebook,
    .fa-twitter,
    .fa-youtube,
    .fa-instagram {
        -webkit-transition: color 0.2s;
        transition: color 0.2s;
    }

    .fa-facebook:hover {
        color: #3b5998;
    }

    .fa-twitter:hover {
        color: #00aced;
    }

    .fa-youtube:hover {
        color: #dd4b39;
    }

    .fa-instagram:hover {
        color: #517fa4;
    }


    footer p {
        color: #888;
        text-align: center;
        margin-top: 1rem;
    }

footer .row{
   margin-top: 5px;
   overflow: hidden;
}

